body{
  text-align:center;
  font-size:20px;
}
#1{
    height: 100px;
    width: 100px;
}
#2{
    height: 100px;
    width: 100px;
}
#3{
    height: 100px;
    width: 100px;
}
#4{
    height: 100px;
    width: 100px;
}